<%- include("header") -%>

    <main class="main">

        <!-- breadcrumb -->
        <section class="site-breadcrumb" style="background: url(img/projectImgs/project-6/12.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">About Us</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html"><i class="far fa-home"></i> Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </section>
        <!-- breadcrumb end -->

        

        <!-- about area -->
        <section class="about-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left">
                            <figure class="about-img">
                                <img src="img/projectImgs/project-1/01.jpg" style="max-width: 450px; max-height: 520px;" alt="Image Of Remodeled White Kitchen With Marble Countertop And Stainless Steel Sink and Dish Washer">
                            </figure>
                            <div class="about-experience">
                                <h1>25 <span>+</span></h1>
                                <span class="about-experience-text">Years Of Experience</span>
                            </div>
                            <figure class="about-shape">
                                <img src="img/about/shape.svg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">About Us</span>
                                <h2 class="site-title">Experts <span>In Bathroom, Kitchen & Apartment</span> Renovations</h2>
                            </div>
                            <div class="about-list-wrapper">
                                <ul class="about-list list-unstyled">
                                    <li>
                                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                                        <div class="text">
                                            <p>Receive the bathroom, kitchen, or aparment of your dreams</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                                        <div class="text">
                                            <p>Renovations designed by experts with years of experience</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                                        <div class="text">
                                            <p>Quality service guraranteed</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->

        <!-- team-area -->
        <section class="team-area bg py-120">
            <div class="shape-1"></div>
            <div class="shape-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <h2 class="site-title">Meet Our <span>CEO</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <figure class="team-item">
                            <img src="img/team/profileImg.jpg" alt="Image Of Company CEO">
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="#">Roosevelt Henriquez</a></h5>
                                    <span>CEO</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 bg-white text-dark">
                    <p>
                        Roosevelt Henriquez is an Architect, Graduated in the Dominican Republic.
                        
                        With studies in restoration of monuments, interior design, construction administration,
                        garden designs, urban design, and tropical architecture among others.
                        Having more than 30 years of experience in the field of Design and construction.
                        He has worked in many types of projects.
                        Such as: 
                        <ul class="mx-5 mt-3 mb-3">
                            <li class="constructionList">
                               Family Residences
                            </li>
                            <li class="constructionList">
                                Family Buildings
                            </li>
                            <li class="constructionList">
                                Office Buildings
                            </li>
                            <li class="constructionList">
                                Indoor parking spaces for trucks
                            </li>
                            <li class="constructionList">
                                Gas stations
                            </li>
                            <li class="constructionList">
                                Sports facilities  a &#40;small baseball stadium, basketball courts, and Volleyball courts&#41;
                            </li>
                            <li class="constructionList">
                                Community centers
                            </li>
                            <li class="constructionList">
                                Police Stations
                            </li>
                            <li class="constructionList">
                                and many more
                            </li>
                        </ul>
                        In the United States, mainly in New York and Florida, he has worked on construction projects for several 
                        years.
                        Now utilizing his years of expertise in design and construction,
                        He has now dedicated himself to the design and construction of bathrooms and kitchens.
                        To accommodate the people who request the services according to their available space.
                    </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-area end -->

        <!-- skill-area -->
        <section class="skill-area pb-120">
            <div class="container">
                <div class="skill-wrapper">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="skill-left">
                                <figure class="skill-img">
                                    <img src="img/projectImgs/project-16/03.jpg"  alt="Image Of White Bathroom Sink Inside a Bathroom With a Glass Stand Up Shower">
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="skill-right">
                                <span class="site-title-tagline">Our Skills</span>
                                <h2 class="site-title">We Provide You With The<span> Best Service</span> In Renovations</h2>
                                
                                <a href="/contact" class="theme-btn mt-5">Get Quote <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- skill area end -->
    </main>

    <%- include("footer") -%>