<%- include("header") -%>

<main class="main">

    <!-- breadcrumb -->
    <div class="site-breadcrumb" style="background: url(img/projectImgs/project-12/02.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Contact Us</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index.html"><i class="far fa-home"></i> Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb end -->




   <!-- contact area -->
   <div class="contact-area py-120">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-content">
                        <div class="contact-info">
                            <div class="contact-info-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Office Address</h5>
                                <p>25/B Milford, New York, USA</p>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Call Us</h5>
                                <p>566 W 190st Apt. 4A New York, NY 10040</p>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Call Us</h5>
                                <p><a href="tel:+6465001868">+1 (646)-500-1868</a></p>
                                <p><a href="tel:+6464484111">+1 (646)-448-4111</a></li>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="contact-info-content">
                                <div class="contact-info-content">
                                    <h5>Email Us</h5>
                                    <p><a href="mailto:rhdesiconst@rhbathkitch.com">rhdesiconst@rhbathkitch.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon">
                                <i class="fal fa-clock"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Office Open</h5>
                                <p>Mon - Fri (09AM - 5PM)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 align-self-center">
                    <div class="contact-form">
                        <div class="contact-form-header">
                            <h2 class="site-title">Your Email Was Sent Successfully</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end contact area -->



</main>

<%- include("footer") -%>