<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- title -->
    <title>RH Designs & Constructions - Bathroom, Kitchens & Apartment Renovations In New York</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="img/logo/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo/favicon-16x16.png">
    <link rel="manifest" href="img/logo/site.webmanifest">

    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all-fontawesome.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <!-- preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-box-1"></div>
            <div class="loader-box-2"></div>
        </div>
    </div>
    <!-- preloader end -->


    <!-- header area -->
     <header class="home-2 header">

        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="header-top-left">
                        <div class="header-top-contact">
                            <ul>
                                <li><a href="#"><i class="far fa-map-marker-alt"></i>566 W 190st Apt. 4A New York, NY 10040</a>
                                </li>
                                <li><a href="tel:+6465001868"><i class="far fa-phone"></i>+1 (646)-500-1868</a></li>
                                <li><a href="tel:+6464484111"><i class="far fa-phone"></i>+1 (646)-448-4111</a></li>
                                <li><a href="mailto:rhdesiconst@rhbathkitch.com"><i
                                            class="far fa-envelope"></i>rhdesiconst@rhbathkitch.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-top-right">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <!-- <img src="img/logo/rhDesignsLogo2V2.svg" class="logo-display" alt="thumb"> -->
                        <img src="img/logo/rhDesignsLogo2V2.svg" class="logo-scrolled" alt="thumb">
                    </a>
                    <div class="mobile-menu-right">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/about"> About </a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                                <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="/#bathrooms">Bathrooms</a></li>
                                    <li><a class="dropdown-item" href="/#kitchens">Kitchens</a></li>
                                    <li><a class="dropdown-item" href="/#apartments">Apartments</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/gallery">Gallery</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>
                        <div class="header-nav-right">
                            
                            <div class="header-btn">
                                <a href="/contact" class="theme-btn">GET QUOTE<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->