<%- include("header") -%>

    <main class="home-2 main">

        <!-- hero slider -->
            <section class="hero-single" style="background-image: url(img/projectImgs/project-6/12.jpg" alt='Image Of Remodeled Kitchen'>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-lg-12">
                            <div class="hero-content">
                                <img src="img/logo/rhDesignsLogo2V3.svg" class="logo-display jumbotron-logo" alt="thumb">
                                <!-- <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                    data-wow-delay=".50s">
                                    <span>RH Designs</span>
                                    <p class="mt-2 fw-bold">&nbsp;&&nbsp;</p>Constructions
                                </h1> -->
                                <p class="wow animate__animated animate__fadeInUp jumbotron-text" data-wow-duration="1s"
                                    data-wow-delay=".75s">
                                    Experts In Bathrooms, Kitchens & Apartment Renovations
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp justify-content-center" data-wow-duration="1s"
                                    data-wow-delay="1s">
                                    <a href="/contact" class="theme-btn">Contact Us<i
                                            class="far fa-arrow-right"></i></a>
                                    <a href="/about" class="theme-btn theme-btn2">About Us<i
                                            class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- hero slider end -->

         <!-- choose area -->
         <section class="choose-area mt-100 pt-50 pb-50">
            <div class="choose-img" alt="Image of remodeled bathroom"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 offset-lg-6 choose-right">
                        <div class="choose-right-content">
                            <div class="site-heading mb-3">
                                <h2 class="site-title my-3 text-white">At</h2>
                                <h2 class="site-title my-3 text-white"><span>RH Designs & Constructions</span></h2>
                                <h2 class="site-title my-3 text-white">We'll Provide You With The</h2>
                                <h2 class="site-title my-3 text-white"><span>Renovation</span>
                                <h2 class="site-title my-3 text-white">Of Your Dreams </h2> 
                            </div>
                            
                            <a href="/contact" class="theme-btn">Get Quote <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- choose area end -->


        <!-- service area -->
        <section class="service-area service-area2 bg py-120">
            <div class="content mx-0 my-0">
                <div class="site-heading text-center">
                    <h2 class="site-title"><span>Services</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
            <div class="shape-1"></div>
            <div class="shape-2"></div>
            <div class="container">
                <div class="row">
                    <article id="bathrooms" class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <figure class="service-img">
                                <img src="img/projectImgs/project-5/04.jpg" alt="Image Of Remodeled Bathroom">
                            </figure>
                            <div class="service-icon">
                                <i class="flaticon-worker"></i>
                            </div>
                            <article>
                            <h3 class="service-title">
                                <a href="#">Bathrooms</a>
                            </h3>
                            <p class="service-text">
                                Seeking our experience, we can help you design your new bathroom or repair your current one. 
                                With the designs, finishes and preferences of your choice. Our designs use accessories and modern technologies 
                                that are specific to each individual project.
                            </p>
                            <div class="service-arrow">
                                <a href="/contact" class="theme-btn">Get Quote <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </article>
                    <article id="apartments" class="col-md-6 col-lg-4">
                        <div class="service-item active">
                            <figure class="service-img">
                                <img src="img/projectImgs/project-10/19.jpg" alt="Image Of Remodeled Apartment">
                            </figure>
                            <div class="service-icon">
                                <i class="flaticon-house"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Apartments</a>
                            </h3>
                            <p class="service-text">
                                When you have a home or an apartment it is possible that you would want to remodel it according to your  own liking and personality. 
                                In these situations RH Designs And Constructions would be your perfect partner to help you realize your dream home. 
                                With our many years of experience in apartment and home renovations. 
                                We will take it upon ourself to make sure your dream home or apartment is completed to your satisfaction. 
                                RH Designs And Constructions would love to partner with you on this journey of achieving your dream home.
                            </p>
                            <div class="service-arrow">
                                <a href="/contact" class="theme-btn">Get Quote <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </article>
                    <article id="kitchens" class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <figure class="service-img">
                                <img src="img/projectImgs/project-1/25.jpg" alt="Image Of Remodeled Kitchen">
                            </figure>
                            <div class="service-icon">
                                <i class="flaticon-blueprint-1"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Kitchens</a>
                            </h3>
                            <p class="service-text">
                                Taking into account that the kitchen is one of the most representative spaces in your home. 
                                We want that space to have a presence that identifies you. 
                                Using a unique design personalized to your liking with unique finishes and accessories.
                            </p>
                            <div class="service-arrow">
                                <a href="/contact" class="theme-btn">Get Quote <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- service area end -->



        <!-- case area -->
        <section class="case-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <h2 class="site-title">Recent <span>Projects</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-wrapper">

                    <div class="filter-controls">
                        <div class="filter-box">
                            <div class="menuItemNames">
                                <ul class="filter-btns mainMenu">
                                    <li class="menu1 initialMenuItem1" data-filter=".cat1">Project 1</li><!--Project 1-->
                                    <li class="menu1 initialMenuItem5" data-filter=".cat5">Project 2</li><!--Project 5-->
                                    <li class="menu1 initialMenuItem6" data-filter=".cat6">Project 3</li><!--Project 6-->
                                    <li class="menu1 initialMenuItem9" data-filter=".cat10Home">Project 4</li><!--Project 10-->
                                    <li class="menu1 initialMenuItem9" data-filter=".cat12Home">Project 5</li><!--Project 12-->
                                    <li class="menu1 initialMenuItem9" data-filter=".cat16Home">Project 6</li><!--Project 16-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menuContainer mb-5">
                        <%- include("projectGallery1Home") -%>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- case area end -->

    </main>

    <%- include("footer") -%>

</body>
</html>