<div class="row filter-box popup-gallery11" style="top: 150px;">
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-01-sm" src="img/projectImgs/project-11/01.jpg" alt="">
                <a class="popup-img case-link img-01-lg" href="img/projectImgs/project-11/01.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-02-sm" src="img/projectImgs/project-11/02.jpg" alt="">
                <a class="popup-img case-link img-02-lg" href="img/projectImgs/project-11/02.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-03-sm" src="img/projectImgs/project-11/03.jpg" alt="">
                <a class="popup-img case-link img-03-lg" href="img/projectImgs/project-11/03.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-04-sm" src="img/projectImgs/project-11/04.jpg" alt="">
                <a class="popup-img case-link img-04-lg" href="img/projectImgs/project-11/04.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-05-sm" src="img/projectImgs/project-11/05.jpg" alt="">
                <a class="popup-img case-link img-05-lg" href="img/projectImgs/project-11/05.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-06-sm" src="img/projectImgs/project-11/06.jpg" alt="">
                <a class="popup-img case-link img-06-lg" href="img/projectImgs/project-11/06.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-07-sm" src="img/projectImgs/project-11/07.jpg" alt="">
                <a class="popup-img case-link img-07-lg" href="img/projectImgs/project-11/07.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat11">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-08-sm" src="img/projectImgs/project-11/08.jpg" alt="">
                <a class="popup-img case-link img-08-lg" href="img/projectImgs/project-11/08.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
           
        </div>
    </div>
</div>
<%- include("projectGallery12") -%>