<div class="row filter-box popup-gallery10" style="top: 150px;">
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-01-sm" src="img/projectImgs/project-10/01.jpg" alt="">
                <a class="popup-img case-link img-01-lg" href="img/projectImgs/project-10/01.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-02-sm" src="img/projectImgs/project-10/02.jpg" alt="">
                <a class="popup-img case-link img-02-lg" href="img/projectImgs/project-10/02.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-03-sm" src="img/projectImgs/project-10/03.jpg" alt="">
                <a class="popup-img case-link img-03-lg" href="img/projectImgs/project-10/03.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-04-sm" src="img/projectImgs/project-10/04.jpg" alt="">
                <a class="popup-img case-link img-04-lg" href="img/projectImgs/project-10/04.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    
   
    
    
    
   
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-12-sm" src="img/projectImgs/project-10/12.jpg" alt="">
                <a class="popup-img case-link img-12-lg" href="img/projectImgs/project-10/12.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-13-sm" src="img/projectImgs/project-10/13.jpg" alt="">
                <a class="popup-img case-link img-13-lg" href="img/projectImgs/project-10/13.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-14-sm" src="img/projectImgs/project-10/14.jpg" alt="">
                <a class="popup-img case-link img-14-lg" href="img/projectImgs/project-10/14.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-15-sm" src="img/projectImgs/project-10/15.jpg" alt="">
                <a class="popup-img case-link img-15-lg" href="img/projectImgs/project-10/15.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-16-sm" src="img/projectImgs/project-10/16.jpg" alt="">
                <a class="popup-img case-link img-16-lg" href="img/projectImgs/project-10/16.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-17-sm" src="img/projectImgs/project-10/17.jpg" alt="">
                <a class="popup-img case-link img-17-lg" href="img/projectImgs/project-10/17.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-18-sm" src="img/projectImgs/project-10/18.jpg" alt="">
                <a class="popup-img case-link img-18-lg" href="img/projectImgs/project-10/18.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-19-sm" src="img/projectImgs/project-10/19.jpg" alt="">
                <a class="popup-img case-link img-19-lg" href="img/projectImgs/project-10/19.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-20-sm" src="img/projectImgs/project-10/20.jpg" alt="">
                <a class="popup-img case-link img-20-lg" href="img/projectImgs/project-10/20.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-21-sm" src="img/projectImgs/project-10/21.jpg" alt="">
                <a class="popup-img case-link img-21-lg" href="img/projectImgs/project-10/21.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-22-sm" src="img/projectImgs/project-10/22.jpg" alt="">
                <a class="popup-img case-link img-22-lg" href="img/projectImgs/project-10/22.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-23-sm" src="img/projectImgs/project-10/23.jpg" alt="">
                <a class="popup-img case-link img-23-lg" href="img/projectImgs/project-10/23.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-24-sm" src="img/projectImgs/project-10/24.jpg" alt="">
                <a class="popup-img case-link img-24-lg" href="img/projectImgs/project-10/24.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-25-sm" src="img/projectImgs/project-10/25.jpg" alt="">
                <a class="popup-img case-link img-25-lg" href="img/projectImgs/project-10/25.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-26-sm" src="img/projectImgs/project-10/26.jpg" alt="">
                <a class="popup-img case-link img-26-lg" href="img/projectImgs/project-10/26.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
</div>
<%- include("projectGallery11") -%>