<div class="row filter-box popup-gallery13" style="top: 150px;">
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-01-sm" src="img/projectImgs/project-13/01.jpg" alt="">
                <a class="popup-img case-link img-01-lg" href="img/projectImgs/project-13/01.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-02-sm" src="img/projectImgs/project-13/02.jpg" alt="">
                <a class="popup-img case-link img-02-lg" href="img/projectImgs/project-13/02.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-03-sm" src="img/projectImgs/project-13/03.jpg" alt="">
                <a class="popup-img case-link img-03-lg" href="img/projectImgs/project-13/03.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-04-sm" src="img/projectImgs/project-13/04.jpg" alt="">
                <a class="popup-img case-link img-04-lg" href="img/projectImgs/project-13/04.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-05-sm" src="img/projectImgs/project-13/05.jpg" alt="">
                <a class="popup-img case-link img-05-lg" href="img/projectImgs/project-13/05.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-06-sm" src="img/projectImgs/project-13/06.jpg" alt="">
                <a class="popup-img case-link img-06-lg" href="img/projectImgs/project-13/06.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-07-sm" src="img/projectImgs/project-13/07.jpg" alt="">
                <a class="popup-img case-link img-02-lg" href="img/projectImgs/project-13/07.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-09-sm" src="img/projectImgs/project-13/09.jpg" alt="">
                <a class="popup-img case-link img-09-lg" href="img/projectImgs/project-13/09.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-10-sm" src="img/projectImgs/project-13/10.jpg" alt="">
                <a class="popup-img case-link img-10-lg" href="img/projectImgs/project-13/10.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-11-sm" src="img/projectImgs/project-13/11.jpg" alt="">
                <a class="popup-img case-link img-11-lg" href="img/projectImgs/project-13/11.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-12-sm" src="img/projectImgs/project-13/12.jpg" alt="">
                <a class="popup-img case-link img-12-lg" href="img/projectImgs/project-13/12.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-13-sm" src="img/projectImgs/project-13/13.jpg" alt="">
                <a class="popup-img case-link img-13-lg" href="img/projectImgs/project-13/13.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-14-sm" src="img/projectImgs/project-13/14.jpg" alt="">
                <a class="popup-img case-link img-14-lg" href="img/projectImgs/project-13/14.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-15-sm" src="img/projectImgs/project-13/15.jpg" alt="">
                <a class="popup-img case-link img-15-lg" href="img/projectImgs/project-13/15.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-16-sm" src="img/projectImgs/project-13/16.jpg" alt="">
                <a class="popup-img case-link img-16-lg" href="img/projectImgs/project-13/16.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-17-sm" src="img/projectImgs/project-13/17.jpg" alt="">
                <a class="popup-img case-link img-17-lg" href="img/projectImgs/project-13/17.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-18-sm" src="img/projectImgs/project-13/18.jpg" alt="">
                <a class="popup-img case-link img-18-lg" href="img/projectImgs/project-13/18.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-19-sm" src="img/projectImgs/project-13/19.jpg" alt="">
                <a class="popup-img case-link img-19-lg" href="img/projectImgs/project-13/19.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-20-sm" src="img/projectImgs/project-13/20.jpg" alt="">
                <a class="popup-img case-link img-20-lg" href="img/projectImgs/project-13/20.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 filter-item cat13">
        <div class="case-item">
            <figure class="case-img2">
                <img class="img-fluid img-22-sm" src="img/projectImgs/project-13/22.jpg" alt="">
                <a class="popup-img case-link img-22-lg" href="img/projectImgs/project-13/22.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
</div>
<%- include("projectGallery14") -%>