<div class="row filter-box popup-gallery2" style="top: 150px;">
    <div class="col-md-6 col-lg-4 filter-item cat2">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-01-sm" src="img/projectImgs/project-2/01.jpg" alt="">
                <a class="popup-img case-link img-01-lg" href="img/projectImgs/project-2/01.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat2">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-02-sm" src="img/projectImgs/project-2/02.jpg" alt="">
                <a class="popup-img case-link img-02-lg" href="img/projectImgs/project-2/02.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat2">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-03-sm" src="img/projectImgs/project-2/03.jpg" alt="">
                <a class="popup-img case-link img-03-lg " href="img/projectImgs/project-2/03.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
</div>
<%- include("projectGallery3") -%>
