<div class="row filter-box popup-gallery6" style="top: 150px;">
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-01-sm" src="img/projectImgs/project-6/01.jpg" alt="">
                <a class="popup-img case-link img-01-lg" href="img/projectImgs/project-6/01.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-03-sm" src="img/projectImgs/project-6/03.jpg" alt="">
                <a class="popup-img case-link img-03-lg" href="img/projectImgs/project-6/03.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-04-sm" src="img/projectImgs/project-6/04.jpg" alt="">
                <a class="popup-img case-link img-04-lg" href="img/projectImgs/project-6/04.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-05-sm" src="img/projectImgs/project-6/05.jpg" alt="">
                <a class="popup-img case-link img-05-lg" href="img/projectImgs/project-6/05.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-06-sm" src="img/projectImgs/project-6/06.jpg" alt="">
                <a class="popup-img case-link img-06-lg" href="img/projectImgs/project-6/06.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-07-sm" src="img/projectImgs/project-6/07.jpg" alt="">
                <a class="popup-img case-link img-07-lg" href="img/projectImgs/project-6/07.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-08-sm" src="img/projectImgs/project-6/08.jpg" alt="">
                <a class="popup-img case-link img-08-lg" href="img/projectImgs/project-6/08.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-09-sm" src="img/projectImgs/project-6/09.jpg" alt="">
                <a class="popup-img case-link img-09-lg" href="img/projectImgs/project-6/09.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-10-sm" src="img/projectImgs/project-6/10.jpg" alt="">
                <a class="popup-img case-link img-10-lg" href="img/projectImgs/project-6/10.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat6">
        <div class="case-item">
            <figure class="case-img2 c1">
                <img class="img-fluid img-12-sm" src="img/projectImgs/project-6/12.jpg" alt="">
                <a class="popup-img case-link img-12-lg" href="img/projectImgs/project-6/12.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
            
        </div>
    </div>
</div>
<%- include("projectGallery7") -%>