<div class="row filter-box popup-gallery4" style="top: 150px;">
        
    <div class="col-md-6 col-lg-4 filter-item cat10Home">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-21-sm" src="img/projectImgs/project-10/21.jpg" alt="">
                <a class="popup-img case-link img-21-lg" href="img/projectImgs/project-10/21.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 filter-item cat10Home">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-25-sm" src="img/projectImgs/project-10/25.jpg" alt="">
                <a class="popup-img case-link img-25-lg" href="img/projectImgs/project-10/25.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 filter-item cat10Home">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-16-sm" src="img/projectImgs/project-10/16.jpg" alt="">
                <a class="popup-img case-link img-16-lg" href="img/projectImgs/project-10/16.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
   
    <div class="col-md-6 col-lg-4 filter-item cat10Home">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-19-sm" src="img/projectImgs/project-10/19.jpg" alt="">
                <a class="popup-img case-link img-19-lg" href="img/projectImgs/project-10/19.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat10Home">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-20-sm" src="img/projectImgs/project-10/20.jpg" alt="">
                <a class="popup-img case-link img-20-lg" href="img/projectImgs/project-10/20.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 filter-item cat10Home">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-15-sm" src="img/projectImgs/project-10/15.jpg" alt="">
                <a class="popup-img case-link img-15-lg" href="img/projectImgs/project-10/15.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
</div>
<%- include("projectGallery5Home") -%>