<div class="row filter-box popup-gallery" style="top: 150px;">
    
    
    <div class="col-md-6 col-lg-4 filter-item cat1">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-14-sm" src="img/projectImgs/project-1/14.jpg" alt="">
                <a class="popup-img case-link img-14-lg" href="img/projectImgs/project-1/14.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 filter-item cat1">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-20-sm" src="img/projectImgs/project-1/20.jpg" alt="">
                <a class="popup-img case-link img-20-lg" href="img/projectImgs/project-1/20.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 filter-item cat1">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-21-sm" src="img/projectImgs/project-1/21.jpg" alt="">
                <a class="popup-img case-link img-21-lg" href="img/projectImgs/project-1/21.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 filter-item cat1">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-18-sm" src="img/projectImgs/project-1/18.jpg" alt="">
                <a class="popup-img case-link img-18-lg" href="img/projectImgs/project-1/18.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 filter-item cat1">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-23-sm" src="img/projectImgs/project-1/23.jpg" alt="">
                <a class="popup-img case-link img-23-lg" href="img/projectImgs/project-1/23.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 filter-item cat1">
        <div class="case-item">
            <figure class="case-img">
                <img class="img-fluid img-25-sm" src="img/projectImgs/project-1/25.jpg" alt="">
                <a class="popup-img case-link img-25-lg" href="img/projectImgs/project-1/25.jpg"> <i
                        class="far fa-plus"></i></a>
            </figure>
        </div>
    </div>
</div>
<%- include("projectGallery2Home") -%>