<div class="row filter-box popup-gallery16Home" style="top: 150px;">
        
        <div class="col-md-6 col-lg-4 filter-item cat16Home">
            <div class="case-item">
                <figure class="case-img c1">
                    <img class="img-fluid img-02-sm" src="img/projectImgs/project-16/02.jpg" alt="">
                    <a class="popup-img case-link img-02-lg" href="img/projectImgs/project-16/02.jpg"> <i
                            class="far fa-plus"></i></a>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 filter-item cat16Home">
            <div class="case-item">
                <figure class="case-img c1">
                    <img class="img-fluid img-03-sm" src="img/projectImgs/project-16/03.jpg" alt="">
                    <a class="popup-img case-link img-03-lg" href="img/projectImgs/project-16/03.jpg"> <i
                            class="far fa-plus"></i></a>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 filter-item cat16Home">
            <div class="case-item">
                <figure class="case-img c1">
                    <img class="img-fluid img-04-sm" src="img/projectImgs/project-16/04.jpg" alt="">
                    <a class="popup-img case-link img-04-lg" href="img/projectImgs/project-16/04.jpg"> <i
                            class="far fa-plus"></i></a>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 filter-item cat16Home">
            <div class="case-item">
                <figure class="case-img c1">
                    <img class="img-fluid img-05-sm" src="img/projectImgs/project-16/05.jpg" alt="">
                    <a class="popup-img case-link img-05-lg" href="img/projectImgs/project-16/05.jpg"> <i
                            class="far fa-plus"></i></a>
                </figure>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-4 filter-item cat16Home">
            <div class="case-item">
                <figure class="case-img c1">
                    <img class="img-fluid img-07-sm" src="img/projectImgs/project-16/07.jpg" alt="">
                    <a class="popup-img case-link img-07-lg" href="img/projectImgs/project-16/07.jpg"> <i
                            class="far fa-plus"></i></a>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 filter-item cat16Home">
            <div class="case-item">
                <figure class="case-img c1">
                    <img class="img-fluid img-08-sm" src="img/projectImgs/project-16/08.jpg" alt="">
                    <a class="popup-img case-link img-08-lg" href="img/projectImgs/project-16/08.jpg"> <i
                            class="far fa-plus"></i></a>
                </figure>
            </div>
        </div>
        
</div>
<%- include("projectGallery7") -%>